{% extends "base.html" %}
  
{% block title %}Add New Thesis Data{% endblock title %}
  
{% block content %}
<div class="col-md-12">    
    <form method="POST" class="post-form" action="/addnew">  
        {% csrf_token %}  
        <div class="container">  
            <div class="col-12">  
                <h3>Enter Details</h3>  
            </div>    

            <div class="mb-3"> 
                <label>Author:</label>  
                {{ form.author }}   
            </div> 

            <div class="mb-3"> 
                <label>Type:</label>  
                {{ form.type }}  {# Fixed incorrect field #}
            </div>

            <div class="mb-3"> 
                <label>Title:</label>  
                {{ form.title }}  {# Fixed incorrect field #}
            </div>

            <div class="mb-3"> 
                <label>Abstract:</label>  
                {{ form.abstract }}   
            </div>

            <div class="mb-3"> 
                <label>University/Institute:</label>  
                {{ form.university }}   
            </div>

            <div class="mb-3"> 
                <label>Keyword:</label>  
                {{ form.keyword }}   
            </div>

            <div class="mb-3"> 
                <label>Subject/Language:</label>  {# Fixed typo #}
                {{ form.subject }}   
            </div>

            <div class="mb-3"> 
                <label>Supervisor:</label>  
                {{ form.supervisor }}   
            </div>

            <div class="mb-3"> 
                <label>Cosupervisor:</label>  
                {{ form.cosupervisor }}   
            </div>

            <div class="mb-3"> 
                <label>Date:</label>  
                {{ form.date }}  {# Fixed incorrect field #}
            </div>

            <div class="mb-3"> 
                <button type="submit" class="btn btn-primary">Submit</button>    
            </div> 
        </div>  
    </form>  
</div> 
{% endblock content %}
